<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Dislinkt</span>
            <span class="example-spacer"></span>
            <button [matMenuTriggerFor]="beforeMenu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button [routerLink]='["/"]' *ngIf="!accountService.isLogged()" mat-menu-item>Login</button>
                <button [routerLink]='["createAccount"]' *ngIf="!accountService.isLogged()" mat-menu-item>Create account</button>
                <button [routerLink]='["publicProfiles"]' mat-menu-item>Show public profiles</button>
                <button *ngIf="accountService.isLogged()" [routerLink]='["updateProfile"]' mat-menu-item>Update profile</button>
                <button *ngIf="accountService.isLogged()" (click)="logout()" mat-menu-item>Logout</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
