<mat-card class="profile-card">
    <mat-card-title class="name">{{account.username}}</mat-card-title>
    <mat-card-content>
        <div class="info">
            Phone number: {{account.phoneNumber}}
        </div>
        <div class="info">
            Gender: {{getGender()}}
        </div>
        <div class="info">
            biography: {{account.biography}}
        </div>
        <div class="info">
            Job: {{account.job}}
        </div>
        <div class="info">
            Education: {{account.education}}
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button [routerLink]="['', 'profilePosts', account.id]" mat-raised-button color="primary">See posts</button>
    </mat-card-actions>
</mat-card>
<div class="blank"></div>